:root {
  --color-light: rgba(255, 255, 255, 0.87);
  --color-dark: #242424;
  --color-gray: #9d9b9bde;
  --color-gray-dark: #464646;
  --color-gray-light: #e3e3e3be;
  --color-red: #e93535;
  --color-green: #4ae34a;

  --background-gradient-dark: linear-gradient(
    135deg,
    var(--color-red) 49.93%,
    var(--color-dark)
  );
  --background-gradient-white: -webkit-linear-gradient(#fff, #333);
  --background-gradient-light: -webkit-linear-gradient(#eee, #333);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: var(--color-light);
  background-color: var(--color-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: Product;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./shared/assets/fonts/ProductSans-Regular.woff2') format('woff2');
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  font: 14px/1.4 Arial, sans-serif;
  color: var(--color-light);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

svg {
  display: inline-block;
  fill: currentColor;
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

img {
  max-width: 100%;
}

.dangerColor {
  color: var(--color-red);
}

.successColor {
  color: var(--color-green);
}

.defaultColor {
  color: var(--color-gray-light);
}
