.showListItem {
  display: flex;
  align-items: center;
  padding: 4px 5px 4px 15px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.showListItem:hover {
  background-color: var(--color-gray-dark);
}

.showListItemImg {
  width: 30px;
  margin-right: 15px;
  margin-left: 15px;
}
